node_modules/
.env
.env.local
.vercel
supabase_key.txt
UsersMikelDesktopProyectosbox-automatismowodbuster_page.html
.agent/
.codebuddy/
.codex/
.continue/
.cursor/
.gemini/
.kiro/
.opencode/
.qoder/
.roo/
.trae/
.windsurf/
